html, body {
  font-family: 'Roboto', sans-serif;
  color: #F2F2F2;
  height: 100%;
}

a:link, a:visited {
  color: #F2F2F2 !important;
}

a:hover, a:active {
  color: #BDBDBD !important;
}

header {
  background-image: url("../images/header.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  padding-top: 0px !important;
}

.navbar {
  background: rgba(51, 51, 51, 0.2);
}

.navbar-nav li a {
  font-weight: bold;
  margin-left: 20px;
}

.navbar-brand {
  border-top: 10px solid #A1BE45;
}

#nav-logo {
  height: 150px;
  width: 150px;
}

#nav-title {
  font-family: 'Poiret One', cursive;
  font-size: 5vw;
}

#header-info {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#we-are-cambara {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#description {
  width: 60%;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: justify;
}

@media (max-width: 800px) {
  #description {
    width: 100%;
  }
}
