body {
  font-family: 'Roboto', sans-serif;
  color: #F2F2F2;
}

a:link, a:visited {
  color: #F2F2F2;
}

a:hover, a:active {
  color: #BDBDBD;
}

header {
  background-image: url("../images/header.png");
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  background: rgba(51, 51, 51, 0.2);
}

.navbar > a:hover, a:active {
  color: #F2F2F2;
};

#nav-logo {
  height: 186px;
  width: 186px;
}

#nav-title {
  font-family: 'Poiret One', cursive;
  font-size: 72px;
}
